/* 
Modelo de caja: Es la forma en que CSS ve a los elementos HTML 
y como los ve? como si fueran caja con las sgts. propiedades.
1.El contenido (content): el contenido (texto) del elemente HTML
tomando en cuenta sus dimensiones (width & height)
2.El borde (border): Lo que delimita cada uno de los elementeos HTML.
3.El relleno (padding): Son las distancias internas
(la distancia del borde al contenedor).
4.El margen (margin): Son la distancia externas (la distancia entre el 
elemento HTML y sus elementos hermanos o padres.

Dentro del modelo de caja hay que considerar que una caja
tendra 4 lados.
1.Arriba (top)
2.Derecha (right)
3.Abajo (botton)
4.Izquierda (left)
*/

h1 {
  width: 400px;
  height: 200px;
  /* Propiedades de tipo ShoortHand */
  border-color: green;
  border-top-color: red;
  border-width: thick; /*thin = 1px; medium = 3px; thick = 5px; */
  border-style: solid; /*solid-dashed-dotted*/
  border: 2px dashed blue; /*forma corta*/
  /*MAS ESTILOS: https://cssreference.io/property/border-style/ */
}
