/* 
Modelo de caja: Es la forma en que CSS ve a los elementos HTML 
y como los ve? como si fueran caja con las sgts. propiedades.
1.El contenido (content): el contenido (texto) del elemente HTML
tomando en cuenta sus dimensiones (width & height)
2.El borde (border): Lo que delimita cada uno de los elementeos HTML.
3.El relleno (padding): Son las distancias internas
(la distancia del borde al contenedor).
4.El margen (margin): Son la distancia externas (la distancia entre el 
elemento HTML y sus elementos hermanos o padres.

Dentro del modelo de caja hay que considerar que una caja
tendra 4 lados.
1.Arriba (top)
2.Derecha (right)
3.Abajo (botton)
4.Izquierda (left)
*/

body {
  margin: 0;
}

h1 {
  width: 400px;
  height: 200px;
  /* Propiedades de tipo ShoortHand */
  border-color: green;
  border-top-color: red;
  border-width: thick; /*thin = 1px; medium = 3px; thick = 5px; */
  border-style: solid; /*solid-dashed-dotted*/
  border: 2px dashed blue; /*forma corta*/
  /*MAS ESTILOS: https://cssreference.io/property/border-style/ */
}

.caja-uno,
.caja-dos {
  background-color: chocolate;
  border: medium solid orange;
  /* 
  Esto aplica para Marging & Padding 
  *1 valor = aplicar 4 lados
  *2 valores = 
  primer valor para los lados verticales(top&botton)
  segundo valor es para los lados horizontales (left&right)
  *3 valores=
  primer valor es para top
  segundo valor es para los lados horizontales(left&right)
  tercer valor es para botton
  *4 valores= piensa en las manesillas del reloj
  primer valor es para top (12)
  segundo valor es para right (3)
  tercer valor es para botton (6)
  cuarto valor es para left (9)
  */
  /* padding dentro - margin fuera */
  padding: 20px;
  margin: 20px;
  padding: 20px 40px;
  margin: 40px 20px;
  padding: 0 40px 20px;
  margin: 50px 30px 0;
  padding: 0 40px 20px 50px;
  margin: 100px 50px 30px 0;
}
