/*
Posicionamiento CSS

  La propiedades FLOAT y POSITION nos permiten modificar 
  la posición natural de cualquier elemento del documento 
  HTML.

  El navegador coloca cada elemento teniendo en cuenta el 
  orden en el que aparece en el documento y su tipo de 
  visualización dependiendo si es un elemento de línea o de 
  bloque.

  Con FLOAT y POSITION podemos modificar este comportamiento.
  
  Elementos Flotantes
    - float: Convierte un elemento en flotante desplazándolo 
    hasta la zona más a la izquierda o más a la derecha de 
    la posición en la que originalmente se encontraba.
    - clear: Limpia la flotación (left, right, both)
  
    Tipos de Posicionamiento:
    - static (default)
    - relative
    - absolute
    - fixed
    - sticky

  Para mover los elementos posicionados se activan las 
  propiedades:
    - top (vertical - eje Y)
    - bottom (vertical - eje Y)
    - left (horizontal - eje X)
    - right (horizontal - eje X)
    - z-index (profundidad - eje Z)
  
    Las propiedades top y left van a tener preferencia por 
  sobre bottom y right respectivamente.
  
  Estás 5 propiedades no funcionan con el valor de static.
*/

/* Static: es el valor por defecto, significa que el elemento
 respeta el flujo del socumento HTML por lo que no se puede
 mover ni posiicionarse.*/

.static {
  background-color: yellow;
  position: static;
  top: 10px;
  left: 10px;
}

/* relative: hara que el elemento conserve sus dimensiones y
 posicion originla en el flujo del documento. Si se mueve 
 toma como referencia su posicion original.*/

.relative {
  background-color: turquoise;
  position: relative;
  width: 300px;
  height: 50px;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
  top: -30px;
  left: -10px;
  top: 300px;
  left: 50px;
  /* top y left tienen mayor preferencia */
}

/* absolute: el elemento  pierde sus dimensiones y posicion
original en el flujo del documento. Si se mueve puede tomar
como referencia 2 elementos:
1) el primer ancestro con posicionamiento relativo.
2) si no encuentra un ancestro relativo, se mueve respecto 
del documento HTML.
*/
.absolute {
  background-color: tomato;
  position: absolute;
  width: 200px;
  height: 50px;
  /* top: 0;
  left: 0; */
  /* top: 100px;
  left: 100px; */
  right: 0;
  bottom: 0;
}

.relative-parent {
  background-color: khaki;
  position: relative;
  width: 600px;
  height: 50px;
  left: 50px;
  top: 50px;
}

.absolute-child {
  background-color: lightcoral;
  position: absolute;
  /* bottom: 0px;
  right: 0px; */
  /* left: 0px;
  top: 0px; */
  top: -50px;
  left: -30px;
}
