/* 
Regla CSS: consta de 2 partes 
1- selector 
2- bloque de declaraciones {
atributo: valor;
atributo-de-mas-dos-palabras: otro-valor;
}
el elemplo de mas abajo es una regla css donde 
el h1 es el selector y lo que esta dentro de las 
llaves es el bloque de declaraciones.
*/
h1 {
  color: orangered;
  background-color: skyblue;
}
