/* 
Regla CSS: consta de 2 partes 
1- selector 
2- bloque de declaraciones {
atributo: valor;
atributo-de-mas-dos-palabras: otro-valor;
}
el elemplo de mas abajo es una regla css donde 
el h1 es el selector y lo que esta dentro de las 
llaves es el bloque de declaraciones.
*/
/* ---------------------------------------- */
/* LLAMANDO LA OTRA HOJA DE CSS DENTRO DE ESTA,
ES MALA PRACTICA USAR @IMPORT PORQUE SON BLOQUEANTES 
A LA HORA DEL NAVEGADOR  LEER LA INSTRUCCION*/
/* @import url(otra-hoja.css); */

h1 {
  color: orangered;
  background-color: black;
}

/* 
Links de referencia y documentacion:
https://cssreference.io/
https://codeguide.co/
*/

/* 
Existen 3 selectores basicos:
1-etiquetas : son elemntos html
2-identificadores : atributo id #
3-clases atributo class al html | y en el css se llamaria con .
*/

/* Se le aplicaria a todos las etiquetas en este caso parrafos */
p {
  color: midnightblue;
}

/* Dar estilos con ID se considera AntiPatron */
#parrafo-dos {
  background-color: skyblue;
}

/* Lo mas recomendable son las clases debido a que se pueden reutilizar 
y usar varias en en el html */
.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-white {
  color: white;
}

/* se utiliza el mayor que > para identificar */
.hijos-directos > li {
  background-color: thistle;
}

/* se utiliza un espacio en blanco y el elemnto al cual se le quiere anadir estilo */
.hijos-descendientes b {
  background-color: thistle;
}

/* los selectores de hermano general van a aplicar a los elementos 
que son hermanos y que esten por debajo del elemento de referencia.*/
.hermanos-general ~ li {
  background-color: thistle;
}

/* aplicara los estilos al elemento que concida con el selector 
y que este por debajo del referenciado. */
.hermanos-adyacentes + li {
  background-color: thistle;
}

/* selectores de atributos */
.selectores-atributos a[href] {
  color: orangered;
}

.selectores-atributos a[target="_blank"] {
  font-weight: bold;
}
/* El comodin del asterisco* aplica el estilo si 
contiene el texto en cuestion en cualquier parte */
.selectores-atributos a[href*="jonmircha"] {
  font-size: 24px;
}

/* El comodin del ^ aplica el estilo siempre y cuando 
comience con el texto en cuestion del inicio*/
.selectores-atributos a[href^="http://"]
{
  text-decoration: none;
}

/* El comodin del $ aplica el estilo si contiene el texto
en cuestion al final*/
.selectores-atributos a[href$=".com"] {
  background-color: black;
}

/* El comodin del ~ aplica el estilo si contiene el texto
en cuestion en una lista separada por espacios*/
.selectores-atributos a[class~="cursos"] {
  background-color: midnightblue;
}

/* El comodin del | aplica el estilo si contiene el texto
en cuestion en una lista separada por espacios y que despues 
del texto en cuestion venga un guion medio - */
.selectores-atributos a[class|="menu"] {
  font-style: italic;
}

/* Selector Universal */
* {
  font-family: sans-serif;
}

.selector-universal * {
  font-size: 24px;
}

/* Pseudoclases dan estilos dependiendo del contenido del contexto, 
posicion o estado del elemento*/

.form-pseudoclases *:required {
  border-color: yellow;
}

.form-pseudoclases *:valid {
  border-color: green;
}
.form-pseudoclases *:invalid {
  border-color: red;
}

.form-pseudoclases *:focus {
  background-color: skyblue;
}
.form-pseudoclases *:disabled {
  background-color: pink;
}

.menu-pseudoclases a:visited {
  color: olive;
}

.menu-pseudoclases a:hover {
  color: orange;
}

.p-pseudoclases:hover {
  font-size: 20px;
}

#temario-css:target {
  background-color: lightgreen;
}

.lista-pseudoclases li:first-child {
  color: green;
}

.lista-pseudoclases li:last-child {
  color: violet;
}

.lista-pseudoclases li:nth-child(3) {
  color: navy;
}

.lista-pseudoclases li:nth-child(4n) {
  font-size: 20px;
}

.lista-pseudoclases li:nth-child(3n + 1) {
  font-weight: bold;
}

.lista-pseudoclases li:nth-child(even) {
  background-color: yellow;
}

.lista-pseudoclases li:nth-child(odd) {
  background-color: orange;
}

.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}
.articulo-pseudoclases p:last-of-type {
  background-color: violet;
}
.articulo-pseudoclases p:nth-of-type(2) {
  background-color: fuchsia;
}

.articulo-pseudoclases *:not(p) {
  background-color: beige;
}

/*
Pseudoelementos: Dan estilos a partes específicas de un elemento,
se usa el :: para diferenciarlos de las pseudoclases
*/

.saga-geminis::before {
  content: "🤼‍♂️ ";
}

.saga-geminis::after {
  content: " ♓ ";
}

.saga-precio::before {
  content: "$ ";
  font-weight: bold;
}

.saga-precio::after {
  content: " USD ";
  font-weight: bold;
}

.p-pseudoelementos::first-letter {
  font-weight: bold;
  font-size: 32px;
}

.p-pseudoelementos::first-line {
  color: coral;
}

.p-pseudoelementos::selection {
  color: greenyellow;
  background-color: black;
}

.input-pseudoelementos::placeholder {
  color: green;
}
