/* 
Regla CSS: consta de 2 partes 
1- selector 
2- bloque de declaraciones {
atributo: valor;
atributo-de-mas-dos-palabras: otro-valor;
}
el elemplo de mas abajo es una regla css donde 
el h1 es el selector y lo que esta dentro de las 
llaves es el bloque de declaraciones.
*/
/* ---------------------------------------- */
/* LLAMANDO LA OTRA HOJA DE CSS DENTRO DE ESTA,
ES MALA PRACTICA USAR @IMPORT PORQUE SON BLOQUEANTES 
A LA HORA DEL NAVEGADOR  LEER LA INSTRUCCION*/
/* @import url(otra-hoja.css); */

h1 {
  color: orangered;
  background-color: black;
}

/* 
Links de referencia y documentacion:
https://cssreference.io/
https://codeguide.co/
*/

/* 
Existen 3 selectores basicos:
1-etiquetas : son elemntos html
2-identificadores : atributo id #
3-clases atributo class al html | y en el css se llamaria con .
*/

/* Se le aplicaria a todos las etiquetas en este caso parrafos */
p {
  color: midnightblue;
}

/* Dar estilos con ID se considera AntiPatron */
#parrafo-dos {
  background-color: skyblue;
}

/* Lo mas recomendable son las clases debido a que se pueden reutilizar 
y usar varias en en el html */
.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-white {
  color: white;
}
